
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container text-center colo">Soy tipo container</div>
    <div class="container-fluid colo">Soy container fluid</div>

    <div class = "container text-center">
        <div class="row color1">
            <div class="col">col 1</div>
            <div class="col">col 2</div>
            <div class="col">col 3</div>
        </div>
        <div class="row color1">
            <div class="col col-sm-4">col 1</div>
            <div class="col col-sm-8">col 2</div>
            <div></div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col" *ngFor="let item3 of datoApiRow" >{{item3}}</div>
            </div>
            <div class="row">
                <div class="col" *ngFor="let item4 of data">{{item4.name}}</div>
            </div>
        </div>  
    </div>   
</body>
</html>